{{ if isset .Site.Params "carousel" }}
{{ if .Site.Params.carousel.enable }}
{{ if gt (len .Site.Data.carousel) 0 }}
{{ if eq .Site.Language.Lang "fr" }}
<section class="no-mb">
    <div class="homepage owl-carousel">
        {{ range sort .Site.Data.carousel "order" }}
        <div class="home-carousel" style="background: url('../img/{{ .image }}') 50% repeat; background-size: cover;">
            <div class="container">
                <div class="item">
                    <p style="background-color: rgba({{ .textBackground }});" class="h1">{{ .fr.title | safeHTML}}</p>
                    {{ .fr.description | safeHTML }}
                </div>

            </div>
            <!-- /.project owl-slider -->
        </div>
        {{ end }}
    </div>
    </div>
</section>
{{ end }}
{{ if eq .Site.Language.Lang "en" }}
<section class="no-mb">
    <div class="homepage owl-carousel">
        {{ range sort .Site.Data.carousel "order" }}
        <div class="home-carousel" style="background: url('../img/{{ .image }}') 50% repeat; background-size: cover;">
            <div class="container">
                <div class="item">
                    <p style="background-color: rgba({{ .textBackground }});" class="h1">{{ .en.title | safeHTML}}</p>
                    {{ .en.description | safeHTML }}
                </div>

            </div>
            <!-- /.project owl-slider -->
        </div>
        {{ end }}
    </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
{{ end }}
